<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>

  <div class="tags_area">
    <%= text_field_tag 'tagnames', nil, class: 'tagnames' %>
    <div class="help_phrase">Введите теги через запятую</div>
  </div>

  <div class="edit_tags_area">
    <% if @tags && @tags.count > 0 %>
      <div class="row">
        <div class="col-xs-12 col-sm-2">
          <label class="lbl_tagname"><%= t :delete_tags %>: </label>
        </div>
        <div class="col-xs-12 col-sm-10">
          <div class="row">
            <% @tags.each do |tag|%>
              <div class="col-xs-6 col-sm-4">
                <%= check_box_tag("delete_tags[]", tag.id) %>
                <%= label_tag(:delete_tags, tag.title) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>   
    <% end %> 
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
