<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <h2>Создать пост</h2>
  <%= render 'form' %>
<% end %>

<h1>Listing all Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= truncate(post.body, length: 170)  %></td>
        <td><%= link_to 'Show', user_post_path(post.user_id, post.id) %></td>
        <td><%= link_to 'edit', edit_user_post_path(post.user_id, post.id) if user_signed_in? %></td>
        <td><%= link_to 'delete', user_post_path(post.user_id, post.id), method: :delete, data: { confirm: 'Are you sure?' } if user_signed_in? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate %>


