<div><%= link_to 'edit', edit_user_post_path(@post.user_id, @post.id) if user_signed_in? %></div>
<div><%= link_to 'delete', user_post_path(@post.user_id, @post.id), method: :delete, data: { confirm: 'Are you sure?' } if user_signed_in? %></div>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<div class="tags_area">
  <strong>Tags: </strong>
  <% @tags.each do |tag| %>
    <%= link_to tag.title, tag_path(tag.id), class: 'tag_link' %>
  <% end %>
</div>

<p>
  <strong>likes:</strong>

  <%= form_tag(posts_like_change_path, method: :post, class: 'pull-left') do %>
    <%= hidden_field_tag(:post_id, @post.id) %>
    <span><%= @post_likes_count %> </span>

    <% if user_signed_in? %>
      <%= submit_tag 'Проголосовать', class: 'btn-sm btn-info' %>
    <% end %>

  <% end %>
</p>


<br />
<br />
<br />

<div class="comments_area">
  <%= @notice_comment_ability %>
  
  <% if @comment && user_signed_in? %>
    <%= form_for [@post, @comment] do |f| %>
      <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
          <% @comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.hidden_field :parent_id %>
      <%= f.hidden_field :post_id, :value => @post.id %>

      <div class="field">
        <%= f.label :body %><br>
        <%= f.text_area :body %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  <% end %>

  <br />

  <%= nested_comments @comments.arrange(:order => :created_at) %>

  <%#= will_paginate @comments %>
</div>


