<div class="masthead">
  <h3 class="text-muted">Blogolog</h3>
  <nav>
    <ul class="nav nav-justified">
      <li><%= link_to 'main',  main_index_path %></li>
      <li><%= link_to 'blog',  posts_path %></li>
      <li><%= link_to 'tags',  tags_path %></li>
      <li><%= link_to 'gallery',  pictures_path %></li>
      <li><%= link_to 'feedback',  new_message_path %></li>
    </ul>
  </nav>
</div>