<!DOCTYPE html>

<html lang="ru">
  <%= render 'layouts/head' %>

  <body>
    <div class="container">
      <%= render 'layouts/header' %>

      <%= render 'layouts/notice_area' %>    

      <%= yield %>

      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
